﻿@page "/binding1"
<h3>Binding1</h3>
<b>Name :</b> @Name
<br />
<b>Name with salutation :</b> @(Gender == "Male" ? $"Mr. {Name}" : $"Miss. {Name}")
<p>=====================================</p>
<div>
    <textarea @bind="@Description" @bind:event="oninput"></textarea>
</div>
<b>Description Length : @(Description.Length)</b>

@code {
    protected string Name { get; set; } = "Tom";
    protected string Gender { get; set; } = "Male";
    protected string Description { get; set; } = string.Empty;
}
