﻿@inherits DisplayEmployeeBase

    <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
        <div class="card-header">
            <h3><label>@Employee.FirstName @Employee.LastName</label> <input type="checkbox" checked="@IsSelected" @onchange="CheckBoxChanged" /></h3>
        </div>
        <img class="card-img-top imageThumbnail" src="@Employee.PhotoPath" />
        @if (ShowFooter)
        {
            <div class="card-footer text-center">
                <a href="employeedetail/@Employee.EmployeeId" 
                   class="btn btn-primary m-1">View</a>
                <a href="editemployee/@Employee.EmployeeId"
                   class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        }
    </div>