﻿@page "/"
@inherits EmployeeListBase

<h3>Selected Employees Count - @SelectedEmployeeCount</h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {            
            <DisplayEmployee Employee="@employee" ShowFooter="@ShowFooter" OnEmployeeSelection="EmployeeSelectionChanged"/>
        }
    </div>
}

